venv/
__pycache__/
*.pyc
.env
*.pkl
ml/artifacts/
*.egg-info/
.pytest_cache/
.vscode/
.venv-linux/
secrets/*
!secrets/README.md
*-service-account.json
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat-schedule